    {% load static %}
    <script src="{% static 'system/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'system/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'system/libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="{% static 'system/js/alerts.js' %}"></script>
    <script src="{% static 'system/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'system/js/app.min.js' %}"></script>
    <script src="{% static 'system/js/cep.js' %}"></script>
    <script src="{% static 'system/js/print.js' %}"></script>
    <script src="{% static 'system/js/masks.js' %}"></script>
    <script src="{% static 'system/js/updateimg.js' %}"></script>
    <script src="{% static 'system/js/slider_productimage.js' %}"></script>
    <script src="{% static 'system/js/redirect.js' %}"></script>